{{ partial "header" . }}

<div id="layout" class="pure-g">
  {{ partial "sidebar" . }}

  <div class="content pure-u-1 pure-u-md-3-4">
    <div>
      <!-- A wrapper for all the blog posts -->
      <div class="posts">
        {{ partial "meta" . }}

        <section class="post">
          {{ partial "share" . }}
          
          <header class="post-header">
            <a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>
          </header>

          <div class="post-description">
            {{ .Content }}
          </div>

          <div class="disqus-bloc">
            {{ template "_internal/disqus.html" . }}
          </div>
        </section>
      </div>
      {{ partial "footer" . }}
    </div>
  </div>
</div>

{{ partial "analytics" . }}
</body>
</html>
