<h1 class="content-subhead">
  {{ .Date.Format "2006-01-02" }}
  <p class="post-meta">
    {{ with .Params.author }}
      By <strong class="post-author">{{ . }}</strong>
    {{ end }}
    {{ if isset .Params "origin" }}
      originaly posted on 
      {{ with .Params.originurl }}
        <a class="post-origin" href="{{ . }}" target="_new">{{ with $.Params.origin }}{{ . }}{{ end }}</a>
      {{ else }}
        <span class="post-origin">{{ with $.Params.origin }}{{ . }}{{ end }}</span>
      {{ end }}
    {{ end }}
    {{ if isset .Params "tags" }}
      {{ range .Params.tags }}<a class="post-tags post-tags-{{ . }}" href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}">{{ . }}</a>{{ end }}
    {{ end }}
    {{ if isset .Params "categories" }}
      in 
      {{ range .Params.categories }}<a class="post-category post-category-{{ . }}" href="{{ $.Site.BaseURL }}/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}
    {{ end }}
  </p>
</h1>
