{{ $galleryprefix := .Page.Params.gallery.prefix }}
{{ $galleryfolder := .Page.Params.gallery.folder }}
{{ $gallerythumbnail := .Page.Params.gallery.thumbnail }}
<figure class="figure" itemscope itemtype="http://schema.org/ImageObject"><a href="{{ $galleryprefix }}/{{ $galleryfolder }}/{{ .Get "file" }}" itemprop="contentUrl" data-size="{{ .Get "size" }}"><img src="{{ $galleryprefix }}/{{ $gallerythumbnail }}/{{ $galleryfolder }}/{{ .Get "file" }}" itemprop="thumbnail" alt="{{ .Get "caption" }}" /></a></figure>
